{% extends '@Kerberos/box.html.twig' %}

{% trans_default_domain 'KerberosBundle' %}

{% block box %}
    <div class="row">
        <label for="username" class="label">Username</label>
        <div class="input">
            <input type="text" name="_username" id="username" placeholder="Username" />
        </div>
    </div>
    <div class="row">
        <label for="password" class="label">Password</label>
        <div class="input">
            <input type="password" name="_password" id="password" placeholder="Password" />
        </div>
    </div>
    {% if error %}
        <div class="error">{{ error.message|trans }}</div>
    {% endif %}
    
    {% for message in app.session.flashbag.get('security') %}
        <div class="error">
            <span>{{ message|trans|raw }}</span>
        </div>
    {% endfor %}
    <div class="actions">
        <button type="submit" class="button" id="_submit" name="_submit">Sign In</button>
    </div>
{% endblock %}

